.scannerHeader{
    font-size: 10px;
}
body{
    padding: 15px;
    width: 390px;
}

.videoContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#barCodeOn{
    width: 100px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 10%;
    
}

#output{
    display: flex;
    margin-top: 20%;
}

.choiceContainer{
    display: none;
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    gap: 25px;
    display: none;
}

#choiceContainer{
    display: none;
}

.buttonText{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}

.yesButton{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 18px;
    color: black;
    width: 25%;
    transition: 1s;
}

.noButton{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 18px;
    color: black;
    width: 25%;
    transition: 1s;
}

.yesButton:hover{
    transform: scale(1.2);
    background-color: darkred;
    color: white;
}
.footerContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin-top: 15%;
    background-color: gray;
    max-width: 100%;
    justify-content: space-around;
    
}

.footerContainer img{
    width: 25px;
}
.active{
    display: block !important;
}

#videoProductId{
    display: none;
    margin-top: 15%;
}