.choiceContainer{
    display: none;
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    gap: 25px;
    
}

.buttonText{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}

.yesButton{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 18px;
    color: black;
    width: 25%;
    transition: 1s;
}

.yesButton:hover{
    transform: scale(1.2);
    background-color: darkred;
    color: white;
}

.imageText{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px ;
}


.productImage{
    width: 30%;
    height: 30%;
}